{% load static %}
<div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm">
        <h3 class="subtitulo">CAFE - {{modo_cafe_a}}</h3>
        <h4 class="subtitulo" style="font-size: 20px;">Tester name : {{testerName}}</h3>
      </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm">

        <div class="computer_text_main" style="margin-top: 10px;">
            <h2>Parameters</h2>
            <div id="divShowParamsCafe_a">
                <button id="showParamsCafe_a" class="css-button-eye" onclick="showParams_a()">
                    <img src="{% static 'images/eye.svg' %}" alt="Icono">
                </button>
            </div>
            <div id="divHideParamsCafe_a" hidden>
                <button id="hideParamsCafe_a" class="css-button-eye" onclick="hideParams_a()">
                    <img src="{% static 'images/eye-off.svg' %}" alt="Icono">
                </button>
            </div>
        </div>

        <div id="divParamsCafe_a" class="computer_text_main flex-column" style="margin-top: 10px; margin-bottom: 10px; width: 205px;" hidden>
            <table style="width: 100%;">
                <tr>
                  <th>Config.</th>
                  <th>Option</th>
                </tr>
                <tr>
                  <td>Oper. Mode :</td>
                  <td id="OpModeCafe_a">{{modo_cafe_a}}</td>
                </tr>
                <tr id="OpVoltCafe_a">
                  <td>Op. Voltage :</td>
                  <td>{{opVoltage_cafe_a}}</td>
                </tr>
                <tr id="InputCafe_a">
                  <td>Input Type :</td>
                  <td>{{inputSignal_cafe_a}}</td>
                </tr>
                <tr id="BaudCafe_a">
                  <td>Baud :</td>
                  <td>{{baud_cafe_a}}</td>
                </tr>
                <tr id="NodeCafe_a">
                  <td>Node :</td>
                  <td>{{node_cafe_a}}</td>
                </tr>
                <tr id="SignalCafe_a">
                  <td>Signal Type :</td>
                  <td>{{signalType_cafe_a}}</td>
                </tr>
                <tr id="WidthCafe_a">
                  <td>Pulse width :</td>
                  <td>{{widthTime_cafe_a}}</td>
                </tr>
              </table>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-sm">
              <div class="computer_text_main">
                <canvas id="myChart"></canvas> 
              </div>
            </div>
        </div>

        <div id="divCycleTestInfo_cafe_a" hidden>
          <div class="row justify-content-center align-items-center">
            <div class="computer_text_main" style="max-width: 560px;">
              <div class="computer_text_main" style="margin: 0px; width: auto;">
                <label class="switch">
                  <input type="checkbox" id="toggleSwitch" onchange="toggleBlock()">
                  <span class="slider"></span>
              </label>
              </div>
  
              <div id="divCustomTime" class="computer_text_main disabled" style="margin: 0px 6px 0px 6px; width: auto;">
                <h3>Custom test time (hours) : </h3> 
              </div>
  
              <div id="divCustomTimeInput" class="computer_text_main disabled" style="margin: 0px; width: auto;">
                <label for="hoursCafe_a"></label>
                <input type="text" id="hoursCafe_a" name="hoursCafe_a" style="max-width: 40px;" pattern="[A-Za-z0-9\s]*" required>
              </div>
            </div>
          </div>
  
          <div class="row justify-content-center align-items-center">
            <div class="computer_text_main" style="max-width: 540px;">
              <div class="computer_text_main" style="padding: 5px;">
                  <h3>Time Test (hh/mm/ss) =>&nbsp;</h3>
                  <h1 id="testTime"></h1>
              </div>
            </div>
          </div>
  
          <div class="row justify-content-center align-items-center">
              <div class="computer_text_main" style="max-width: 540px; margin-bottom: 4px;">
              <div class="computer_text_main" style="margin: 0px; width: 156px;">
                  <h3>Relays counter =>&nbsp;</h3>
              </div>
  
                  <div class="computer_text_main" style="justify-content: left; width: 125px; margin: 0px;">
                      <h3 id="open_cafe_a">Open : 0000</h3>
                  </div>
  
                  <div class="computer_text_main"  style="justify-content: left; width: 125px; margin: 0px;">
                      <h3 id="close_cafe_a">Close : 0000</h3>
                  </div>
              </div>
          </div>
  
          <div class="row justify-content-center align-items-center">
            <div class="computer_text_main" style="max-width: 540px; margin-bottom: 4px;">
            <div class="computer_text_main" style="margin: 0px; width: 183px;">
                <h3>FeedBack counter =>&nbsp;</h3>
            </div>
  
                <div class="computer_text_main" style="justify-content: left; width: 125px; margin: 0px;">
                    <h3 id="openFe_cafe_a">Open : 0000</h3>
                </div>
  
                <div class="computer_text_main"  style="justify-content: left; width: 125px; margin: 0px;">
                    <h3 id="closeFe_cafe_a">Close : 0000</h3>
                </div>
            </div>
          </div>
  
          <div class="row justify-content-center align-items-center">
            <div class="computer_text_main" style="max-width: 540px;">
              <div class="computer_text_main" style="margin: 0px; width: 139px;">
                  <h3>Current = 0.3A&nbsp;</h3>
              </div>
  
              <div class="computer_text_main" style="justify-content: left; width: 226px; margin: 0px;">
                  <h3 id="openFe_cafe_a">Temperature = 55°C / 131°F</h3>
              </div>
  
            </div>
          </div>
        </div>

        <div class="computer_text_main" style="padding: 5px; max-width: 540px;">
          <button id="powerOn_Cafe_a" class="css-button-eye" style="margin-right: 10px; border-radius: 0%; min-width:80px;" onclick="powerOn_Cafe_a()">
            ON
            <img src="{% static 'images/on.svg' %}" alt="Icono">
          </button> 
    
          <button id="powerOff_Cafe_a" class="css-button-eye" style="margin-right: 10px; border-radius: 0%; min-width:80px;" onclick="powerOff_Cafe_a()" hidden>
            OFF
            <img src="{% static 'images/off.svg' %}" alt="Icono">
          </button>
        </div>

        <div id="divButtons_cafe_a" class="computer_text_main" style="margin-top: 10px;" hidden>
            <div id="divStart_a">
                <button id="bStart_a" class="css-button-show" onclick="start()">Start</button>
            </div>
            <div id="divStop_a">
                <button id="bStop_a" class="css-button-show" onclick="window.modalStopTest_cafe_a.showModal();" hidden>Stop</button>
            </div>
            <div id="divPause_a">
                <button id="bPause_a" class="css-button-show" hidden>Pause</button>
            </div>
            <div id="divReset_a">
                <button id="bResume_a" class="css-button-show" hidden>Resume</button>
            </div>
        </div>

      </div>
    </div>
</div>

<!--formulario cycle test-->

<!-- Modal sure ?-->
<dialog id="dialogCancelar">
  <h2>Remove Data?</h2>
  <br>
  <button class="css-button-eye" style="margin-right: 10px; border-radius: 0%; width:80px;" onclick="window.dialogCancelar.close();window.formCreateCycleTest.close();">
    Ok
  </button>
  <button class="css-button-eye" style="margin-right: 10px; border-radius: 0%; width:80px;" onclick="window.dialogCancelar.close();">
    Cancel
  </button>
</dialog>

<!-- Modal sure ?-->
<dialog id="dialogNext">
  <h2>Data stored</h2>
  <br>
  <button class="css-button-eye" style="margin-right: 10px; border-radius: 0%; width:80px;" onclick="window.dialogNext.close();">
    Next
  </button>
</dialog>

<!-- Modal formulario cycle test-->
<dialog id="formCreateCycleTest">
  <h3 class="modal-title">CYCLE TEST FINISHED</h3>
  <form id="cycleTestForm" action="{% url 'SaveData_cafe_alone' %}">
    <div id="conditionalField" class="form-group" style="display: flex; justify-content: center; flex-direction: row; align-items: flex-start; margin-bottom: 10px;">
      <label for="observations">Observations:</label>
      <textarea id="observations" name="observations" style="max-width: 177px;" rows="5" pattern="[A-Za-z0-9\s]*"></textarea>
    </div>

    <h4 class="modal-title" style="margin-top: 10px;">Cycle test settings</h4>
    <div class="computer_text_main flex-column" style="margin-bottom: 10px; width: 213px;">
      <table style="width: 88%;">
        <tr id="OpModeCafe_dialog">
          <td>Oper. Mode :</td>
          <td>{{modo_cafe_a}}</td>
        </tr>
        <tr id="OpVoltCafe_dialog">
          <td>Op. Voltage :</td>
          <td>{{opVoltage_cafe_a}}</td>
        </tr>
        <tr id="InputCafe_dialog">
          <td>Input Type :</td>
          <td>{{inputSignal_cafe_a}}</td>
        </tr>
        <tr id="BaudCafe_dialog">
          <td>Baud :</td>
          <td>{{baud_cafe_a}}</td>
        </tr>
        <tr id="NodeCafe_dialog">
          <td>Node :</td>
          <td>{{node_cafe_a}}</td>
        </tr>
        <tr id="SignalCafe_dialog">
          <td>Signal Type :</td>
          <td>{{signalType_cafe_a}}</td>
        </tr>
        <tr id="WidthCafe_dialog">
          <td>Pulse width :</td>
          <td>{{widthTime_cafe_a}}</td>
        </tr>
        <tr id="highValue_dialog">
          <td>High value :</td>
          <td>100%</td>
        </tr>
        <tr id="lowValue_dialog">
          <td>Low value :</td>
          <td>0%</td>
        </tr>
      </table>
    </div>

    <h4 class="modal-title" style="margin-top: 10px;">Cycle test data</h4>
    <div class="computer_text_main flex-column" style="margin-bottom: 10px; width: 332px;">
      <table style="width: 88%;">
        <tr>
          <td>Date start :</td>
          <td id="dateStart_dialog">mm/dd/yyyy HH:MM</td>
        </tr>
        <tr>
          <td>Date end :</td>
          <td id="dateEnd_dialog">mm/dd/yyyy HH:MM</td>
        </tr>
        <tr>
          <td>Planned time test (hh):</td>
          <td id="plannedTimeTest_dialog">0000</td>
        </tr>
        <tr>
          <td>Final time test (h:m:s):</td>
          <td id="finalTimeTest">0000</td>
        </tr>
        <tr>
          <td>Relays counter :</td>
          <td id="relaysCounter_O">Open : 0000</td>
        </tr>
        <tr>
          <td></td>
          <td id="relaysCounter_C">Close : 0000</td>
        </tr>
        <tr>
          <td>Feedback counter :</td>
          <td id="feedbackCounter_O">Open : 0000</td>
        </tr>
        <tr>
          <td></td>
          <td id="feedbackCounter_C">Close : 0000</td>
        </tr>
      </table>
    </div>

    <!-- Botones al final del formulario -->
    <div id="botonesForm" class="form-actions" hidden>
      <button class="css-button-show" type="button" id="cancelBtn" onclick="window.dialogCancelar.showModal();">Cancelar</button>
      <button class="css-button-show" type="button" onclick="saveData_a();">Save</button>
    </div>
  </form>
</dialog>

<!-- Modal turn off ?-->
<dialog class="" id="modalTurnOff_cafe_a">
  <h2>Turn OFF device?</h2>
  <br>
  <div>
    <button class="css-button-eye" style="margin-right: 10px; border-radius: 0%; width:80px;" onclick="powerOff_Cafe_a()">
      Ok
    </button>
    <button class="css-button-eye" style="margin-right: 10px; border-radius: 0%; width:80px;" onclick="window.modalTurnOff_cafe_a.close();">
      Cancel
    </button>
  </div>
</dialog>

<!-- Modal turn on waiting -->
<dialog id="modalTurnON_waiting_cafe_a">
  <h2>Turning ON CAFE ...</h2>
  <progress style="width: 100%; height: 20px;" id="progressBarTurnOn_cafe_a" max="100" value="0"></progress>
  <br>
</dialog>

<!-- Modal turn off ?-->
<dialog class="" id="modalStopTest_cafe_a">
  <h2>Stop cycle test?</h2>
  <br>
  <div>
    <button class="css-button-eye" style="margin-right: 10px; border-radius: 0%; width:80px;" onclick="stop();window.modalStopTest_cafe_a.close();">
      Yes
    </button>
    <button class="css-button-eye" style="margin-right: 10px; border-radius: 0%; width:80px;" onclick="window.modalStopTest_cafe_a.close();">
      No
    </button>
  </div>
</dialog>

<script src="{% static 'js/chart.min.js' %}"></script>
<script>
  var dataSockets = null;

  const dialogCycleTest = document.getElementById('formCreateCycleTest');
  const cancelBtn = document.getElementById('cancelBtn');

  const bPowerOn_Cafe_a = document.getElementById('powerOn_Cafe_a');
  const bPowerOff_Cafe_a = document.getElementById('powerOff_Cafe_a');

  const modalTurnON_waiting_cafe_a = document.getElementById("modalTurnON_waiting_cafe_a");
  const progressBarTurnOn_cafe_a = document.getElementById("progressBarTurnOn_cafe_a");
 
  const progressBarGoTo0_cafe_a = document.getElementById("progressBarGoTo0_cafe_a");

  var divShowParamsCafe_a = document.getElementById('divShowParamsCafe_a');
  var divHideParamsCafe_a = document.getElementById('divHideParamsCafe_a');
  var divParamsCafe_a = document.getElementById('divParamsCafe_a');
  var divButtons_cafe_a = document.getElementById('divButtons_cafe_a')
  const bStart_a = document.getElementById('bStart_a');
  const stopButton = document.getElementById('bStop_a');
  const bPause_a = document.getElementById('bPause_a');
  const bResume_a = document.getElementById('bResume_a');

  var OpModeCafe_dialog = document.getElementById('OpModeCafe_dialog');
  var InputCafe_dialog = document.getElementById('InputCafe_dialog');
  var BaudCafe_dialog = document.getElementById('BaudCafe_dialog');
  var NodeCafe_dialog = document.getElementById('NodeCafe_dialog');

  //manejo de parametros mostrados en tablas
  if (OpModeCafe_dialog.textContent != "modbus")
  {
    document.getElementById('NodeCafe_a').setAttribute("hidden", "hidden");
    document.getElementById('BaudCafe_a').setAttribute("hidden", "hidden");
    BaudCafe_dialog.setAttribute("hidden", "hidden");
    NodeCafe_dialog.setAttribute("hidden", "hidden");
    InputCafe_dialog.removeAttribute("hidden");
  }
  else
  {
    document.getElementById('NodeCafe_a').removeAttribute("hidden");
    document.getElementById('BaudCafe_a').removeAttribute("hidden");
    BaudCafe_dialog.removeAttribute("hidden");
    NodeCafe_dialog.removeAttribute("hidden");
    InputCafe_dialog.setAttribute("hidden", "hidden");
  }

    bPause_a.addEventListener('click', function() {
            pause();
            //pause_ws();
        });

    bResume_a.addEventListener('click', function() {
            resume();
            resume_ws();
        });

    var socket = null;

function stop(){
  $.ajax({
            url: '/ct/cycleTest_stop_cafe_alone/',
            success: function (data) {
              receiveData_a();
              document.getElementById('botonesForm').removeAttribute("hidden");
            }
        });

  socket.send(JSON.stringify({
    'message':'stop'
  }))

  //receiveData_a();
  resume_ws();
  resume();
  dialogCycleTest.showModal();
  //document.getElementById('botonesForm').removeAttribute("hidden");
  document.getElementById('bStart_a').removeAttribute("hidden");
  document.getElementById('powerOff_Cafe_a').removeAttribute("hidden");
  document.getElementById('bStop_a').setAttribute("hidden", "hidden");
  document.getElementById('bPause_a').setAttribute("hidden", "hidden");

  document.querySelector('#open_cafe_a').innerText = "Open : 0";
  document.querySelector('#close_cafe_a').innerText = "Close : 0";
  document.querySelector('#openFe_cafe_a').innerText = "Open : 0";
  document.querySelector('#closeFe_cafe_a').innerText = "Close : 0";
  document.querySelector('#testTime').innerText = "0:0:0";

}

function iniciarConexion()
{
  socket = new WebSocket("ws://" + window.location.host + "/ws/ct_read_cafe_alone/");
  socket.onmessage = function(event){
    dataSockets  = JSON.parse(event.data);

    document.querySelector('#open_cafe_a').innerText = "Open : " + dataSockets.relayCountA;
    document.querySelector('#close_cafe_a').innerText = "Close : " + dataSockets.relayCountB;
    document.querySelector('#openFe_cafe_a').innerText = "Open : " + dataSockets.relayCountFA;
    document.querySelector('#closeFe_cafe_a').innerText = "Close : " + dataSockets.relayCountFB;
    document.querySelector('#testTime').innerText = dataSockets.hor + ":" + dataSockets.min + ":" + dataSockets.sec;

    myLineChart.data.datasets[0].data.splice(0, 1);
    myLineChart.data.datasets[0].data.push(dataSockets.pos);
    
    myLineChart.data.datasets[1].data.splice(0, 1);
    myLineChart.data.datasets[1].data.push(dataSockets.setPos);

    myLineChart.data.datasets[2].data.splice(0, 1);
    myLineChart.data.datasets[2].data.push(dataSockets.relay_O);

    myLineChart.data.datasets[3].data.splice(0, 1);
    myLineChart.data.datasets[3].data.push(dataSockets.relay_C);

    myLineChart.data.labels.splice(0,1);
    myLineChart.data.labels.push(dataSockets.hor + ":" + dataSockets.min + ":" + dataSockets.sec);

    myLineChart.update();
  }
  socket.onclose = function(event) {
    socket.close(); // Cierra la conexión WebSocket
    detenerConexion();
  };
}

function powerOn_Cafe_a() {
  turnOn();
  
  window.modalTurnON_waiting_cafe_a.showModal();
  let progress = 0;
  const interval = setInterval(function() {
  progress += 1;
  progressBarTurnOn_cafe_a.value = progress;
  if (progress >= 100) {
    clearInterval(interval);
    modalTurnON_waiting_cafe_a.close();
  }
  }, 70); // Actualizar la barra de progreso cada 20ms

  bPowerOn_Cafe_a.setAttribute("hidden", "hidden");
  bPowerOff_Cafe_a.removeAttribute("hidden");
  divButtons_cafe_a.removeAttribute("hidden");
  document.getElementById('divCycleTestInfo_cafe_a').removeAttribute("hidden");
  iniciarConexion();
}

function powerOff_Cafe_a() {
  window.modalTurnOff_cafe_a.close();
  socket.send(JSON.stringify({'message':'stop'}))
  turnOff();
  detenerConexion();
  bPowerOff_Cafe_a.setAttribute("hidden", "hidden");
  bPowerOn_Cafe_a.removeAttribute("hidden");
  divButtons_cafe_a.setAttribute("hidden", "hidden");
  document.getElementById('divCycleTestInfo_cafe_a').setAttribute("hidden", "hidden");

}

function detenerConexion() {
  socket.send(JSON.stringify({
    'message':'stop'
  }))
}

// Detener el consumidor
function startWrite() {
  socket.send(JSON.stringify({
    'message':'start'
  }))
}

function pause_ws() {
  socket.send(JSON.stringify({
    'message':'pause'
  }))
}

function resume_ws() {
  socket.send(JSON.stringify({
    'message':'resume'
  }))
}

function showParams_a() {
    /*$.ajax({
        url: '/show_start_cafe_alone/',
        success: function (data) {
        }
    });*/
    divParamsCafe_a.removeAttribute("hidden");
    divShowParamsCafe_a.setAttribute("hidden", "hidden");
    divHideParamsCafe_a.removeAttribute("hidden");
}

function hideParams_a() {
    /*$.ajax({
        url: '/show_start_cafe_alone/',
        success: function (data) {
        }
    });*/
    divParamsCafe_a.setAttribute("hidden", "hidden");
    divHideParamsCafe_a.setAttribute("hidden", "hidden");
    divShowParamsCafe_a.removeAttribute("hidden");
}

var intervalId1 = null;
var intervalId2 = null;

var numeros = []; // Declarar un arreglo vacío
var arreglo = Array(100).fill(0);
var arreglo2 = Array(100).fill(0);
var arreglo3 = Array(100).fill(0);
var arreglo4 = Array(100).fill(0);

for (var i = 0; i <= 100; i++) {
numeros.push(i.toString()); // Convertir el número a string y agregarlo al arreglo
}
const arrayDeCeros = new Array(100).fill("");


var canvas = document.getElementById('myChart');
var data = {// www . ja  v a 2s.c  om
labels: arrayDeCeros,
datasets: [
{
  label: "Control Signal",
  fill: false,
  lineTension: 0.0,
  backgroundColor: "rgba(255,166,0,1)",
  borderColor: "rgba(255,166,0,1)",
  borderCapStyle: 'butt',
  borderDash: [],
  borderDashOffset: 0.0,
  borderJoinStyle: 'miter',
  pointBorderColor: "rgba(75,192,192,1)",
  pointBackgroundColor: "#fff",
  pointBorderWidth: 1,
  pointHoverRadius: 1,
  pointHoverBackgroundColor: "rgba(75,192,192,1)",
  pointHoverBorderColor: "rgba(220,220,220,1)",
  pointHoverBorderWidth: 2,
  pointRadius: 0,
  pointHitRadius: 10,
  data: arreglo,
},
{
  label: "Feedback Signal",
  fill: false,
  lineTension: 0.0,
  backgroundColor: "rgba(0,0,255,1)",
  borderColor: "rgba(0,0,255,1)",
  borderCapStyle: 'butt',
  borderDash: [],
  borderDashOffset: 0.0,
  borderJoinStyle: 'miter',
  pointBorderColor: "rgba(75,12,192,1)",
  pointBackgroundColor: "#fff",
  pointBorderWidth: 1,
  pointHoverRadius: 1,
  pointHoverBackgroundColor: "rgba(75,12,192,1)",
  pointHoverBorderColor: "rgba(220,20,220,1)",
  pointHoverBorderWidth: 2,
  pointRadius: 0,
  pointHitRadius: 10,
  data: arreglo2,
},
{
  label: "Relays 100%",
  fill: false,
  lineTension: 0.0,
  backgroundColor: "rgba(0,255,0,1)",
  borderColor: "rgba(0,255,0,1)",
  borderCapStyle: 'butt',
  borderDash: [],
  borderDashOffset: 0.0,
  borderJoinStyle: 'miter',
  pointBorderColor: "rgba(75,12,192,1)",
  pointBackgroundColor: "#fff",
  pointBorderWidth: 1,
  pointHoverRadius: 1,
  pointHoverBackgroundColor: "rgba(75,12,192,1)",
  pointHoverBorderColor: "rgba(220,20,220,1)",
  pointHoverBorderWidth: 2,
  pointRadius: 0,
  pointHitRadius: 10,
  data: arreglo3,
},
{
  label: "Relays 0%",
  fill: false,
  lineTension: 0.0,
  backgroundColor: "rgba(250,0,0,1)",
  borderColor: "rgba(250,0,0,1)",
  borderCapStyle: 'butt',
  borderDash: [],
  borderDashOffset: 0.0,
  borderJoinStyle: 'miter',
  pointBorderColor: "rgba(75,12,192,1)",
  pointBackgroundColor: "#fff",
  pointBorderWidth: 1,
  pointHoverRadius: 1,
  pointHoverBackgroundColor: "rgba(75,12,192,1)",
  pointHoverBorderColor: "rgba(220,20,220,1)",
  pointHoverBorderWidth: 2,
  pointRadius: 0,
  pointHitRadius: 10,
  data: arreglo4,
}
]
};

var zero = 7;

var option = {
animation: true,
responsive: true,
scales: {
        y: {
            suggestedMin: 0,
            suggestedMax: 100
        },
        x: {
            suggestedMin: 0,
            suggestedMax: 100,
            ticks:{
                minTicksLimit: 25,
                maxTicksLimit: 25,
                sampleSize:25,
            }
        }
    }
};

var myLineChart = new Chart(canvas, {
type: 'line',
data: data,
options: option
});

function saveData_a() {
    const form = document.getElementById('cycleTestForm');
    const formData = new FormData(form);

    // Validaciones personalizadas (ejemplo)
    const observations = document.getElementById('observations').value;
    if (!observations.match(/^[A-Za-z0-9\s]*$/)) {
        alert('The observations contain illegal characters.');
        return;
    }

    // Envío del formulario usando AJAX
    fetch(form.action, {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}' // Incluye el token CSRF para Django
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert('Form submitted successfully.');
            form.reset(); // Resetea el formulario si es necesario
            document.getElementById('formCreateCycleTest').close(); // Cierra el diálogo
        } else {
            alert('There was an error submitting the form.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An unexpected error occurred.');
    });
}

function receiveData_a() {
    fetch('/ct/cycleTest_sendData_alone/')
    .then(response => response.json())
    .then(data => {
        // Mostrar el valor en el contenedor
        document.getElementById('dateStart_dialog').innerText = data.dateStart_a;
        document.getElementById('dateEnd_dialog').innerText = data.dateEnd_a;
        document.getElementById('relaysCounter_O').innerText = 'Open : '+ data.counter_open_cafe_a;
        document.getElementById('relaysCounter_C').innerText = 'Close : '+ data.counter_close_cafe_a;
        document.getElementById('feedbackCounter_O').innerText = 'Open : '+ data.counter_openF_cafe_a;
        document.getElementById('feedbackCounter_C').innerText = 'Close : '+ data.counter_closeF_cafe_a;
        document.getElementById('plannedTimeTest_dialog').innerText = data.customTime_a;
        document.getElementById('finalTimeTest').innerText = data.finalTime_a;
    })
    .catch(error => console.error('Error:', error));
}

function turnOn() {
        $.ajax({
            url: '/ct/cycleTest_turnOn_cafe_alone/',
            success: function (data) {
            }
        });
    }

function turnOff() {
        $.ajax({
            url: '/ct/cycleTest_turnOff_cafe_alone/',
            success: function (data) {
            }
        });
    }

function start() {
    check_customTestTime();

    $.ajax({
        url: '/ct/cycleTest_start_cafe_alone/',
        success: function (data) {

        }
    });
    
    startWrite();
    bStart_a.setAttribute("hidden", "hidden");
    stopButton.removeAttribute("hidden");
    bPause_a.removeAttribute("hidden");
    bPowerOff_Cafe_a.setAttribute("hidden", "hidden");
    document.getElementById('botonesForm').setAttribute("hidden", "hidden");
}

function pause() {
        $.ajax({
            url: '/ct/cycleTest_pause_cafe_alone/',
            success: function (data) {
            }
        });
        bPause_a.setAttribute("hidden", "hidden");
        bResume_a.removeAttribute("hidden");
    }

function resume() {
        $.ajax({
            url: '/ct/cycleTest_resume_cafe_alone/',
            success: function (data) {
            }
        });
        bPause_a.removeAttribute("hidden");
        bResume_a.setAttribute("hidden", "hidden");
    }

function cancel() {
  dialogCycleTest.close();
}

function hideLoadDetails() {
  if (checkbox.checked) {
      conditionalField.style.display = 'flex';
    } else {
      conditionalField.style.display = 'none';
    }
}

function toggleBlock() {
        const blockable1 = document.getElementById('divCustomTime');
        const blockable2 = document.getElementById('divCustomTimeInput');
        const toggleSwitch = document.getElementById('toggleSwitch');

        if (toggleSwitch.checked) {
          blockable1.classList.remove('disabled');
          blockable2.classList.remove('disabled');
        } else {
            blockable1.classList.add('disabled');
            blockable2.classList.add('disabled');
        }
    }

function check_customTestTime(){
  var statusSwich = document.getElementById('toggleSwitch').checked;
  const hoursCafe_a = document.getElementById('hoursCafe_a');
  
  if (statusSwich == true)
  {
    $.ajax({
            type: "POST",
            url: '/ct/cycleTest_customTime_alone/',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}',"customTime": hoursCafe_a.value},
            success: function (data) {
            }
           });   
  }
  else
  {
    $.ajax({
            type: "POST",
            url: '/ct/cycleTest_customTime_alone/',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}',"customTime": 9999},
            success: function (data) {
            }
           });   
  }
}


</script>

<style>
  /* Estilo básico para el modal */
  .formCreateCycleTest {
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
  }

  /* Centrar el título */
  .modal-title {
    text-align: center;
    font-weight: bold;
  }

  /* Estilo para los grupos de labels e inputs */
  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-group label {
    margin-bottom: 0px;
  }

  /* Estilo para apilar horizontalmente en pantallas grandes */
  @media (min-width: 600px) {
    .form-group {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .form-group label {
      margin-bottom: 0;
      margin-right: 10px;
    }

    .form-group input[type="text"],
    .form-group input[type="checkbox"] {
      flex: 1;
    }
  }

  /* Estilo para los botones */
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
</style>