{% extends 'Proyecto_PCT/templates/menu.html' %}

{% load static %}

{% block content %}
  <div class="col-md-6 d-flex justify-content-center align-items-center w-100">
    <h1 class="computers_taital">SET PARAMETERS</h1>
    <!-- truco -->
    <h2 id="modo" hidden>{{mode}}</h2>
  </div>
  {% if cant_duts == 1 %}
  <div class="col-md-12 d-flex justify-content-center align-items-center w-100">
    <div class="row flex-column justify-content-center align-items-center" style="width:335px;">
      <div class="d-flex justify-content-center align-items-center">
        <h3 id="idDutAlone" hidden="hidden">DUT {{ id_dut }}</h3>
        <h3 id="labelDutAlone" style="margin-left: 10px; opacity: 0.3;" hidden="hidden">{{ name_alone_dut }}</h3>

        <div class="container computers_taital_2">
          <div class="row justify-content-center align-items-center">
            <div class="col-sm" style="width: auto; text-align: right;">
              <h3 class="subtitulo" style="padding-top: 0px;">DUT {{ id_dut }} - {{ name_alone_dut }}</h3>
            </div>
          </div>
        </div>

      </div>
  
      <div class="col-md-12 d-flex justify-content-center align-items-center mx-0 px-0">
        {% include temp_alone_dut %}
      </div>
    </div>
  </div>
  {% elif cant_duts == 2 %}
  <div class="col-md-12 d-flex justify-content-center align-items-center w-100" style="padding: 0;">
    <div class="container" style="padding: 0;max-width: 800px;">
      <div class="row">
        <div class="col-sm-6 d-flex justify-content-center align-items-center" style="padding: 0; height: fit-content;">
          <div class="row flex-column justify-content-center align-items-center w-100">
            <!-- truco -->
            <h3 id="LabelDut1" style="margin-left: 10px; opacity: 0.3;" hidden="hidden">{{ dut1 }}</h3>

            <div class="container computers_taital_2">
              <div class="row justify-content-center align-items-center">
                <div class="col-sm" style="width: auto; text-align: right;">
                  <h3 class="subtitulo">DUT 1 - {{ dut1 }}</h3>
                </div>
              </div>
            </div>


            <div id="divParamsDut1" class="col-md-12 d-flex justify-content-center align-items-center mx-0 px-0">
              {% include temp_dut_1 %}             
            </div>

          </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-center align-items-center" style="padding: 0; height: fit-content;">
          <div class="row flex-column justify-content-center align-items-center w-100">
            <h3 id="LabelDut2" style="margin-left: 10px; opacity: 0.3;" hidden="hidden">{{ dut2 }}</h3>

            <div class="container computers_taital_2">
              <div class="row justify-content-center align-items-center">
                <div class="col-sm" style="width: auto; text-align: right;">
                  <h3 class="subtitulo">DUT 2 - {{ dut2 }}</h3>
                </div>
              </div>
            </div>
  
            <div id="divParamsDut2" class="col-md-12 d-flex justify-content-center align-items-center mx-0" style="padding-left: 0;">
              {% include temp_dut_2 %}           
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>    
  </div>
  {% endif %}
<!--formulario cycle test-->
<div id="divCycleTestDataForm" style="display: none; flex-direction: column; flex-wrap: wrap; align-items: center; margin-top: 10px;">
  <h3 class="modal-title">CYCLE TEST DATA</h3>
  <form id="formAux" method="POST">
    <div class="form-group">
      <label for="testerName">Tester name:</label>
      <input type="text" id="testerName" name="testerName" style="max-width: 180px;" pattern="[A-Za-z0-9\s]*" required>
    </div>

    <h4 class="modal-title" style="margin-top: 10px;">Hardware data</h4>
    <div class="form-group" style="display: flex; justify-content: center; flex-direction: row;">
      <label for="actuatorRef">Actuator Ref:</label>
      <input type="text" id="actuatorRef" name="actuatorRef" style="max-width: 80px;" pattern="[A-Za-z0-9\s]*">
    </div>

    <div class="form-group" style="display: flex; justify-content: center; flex-direction: row;">
      <label for="load">Load:</label>
      <input type="checkbox" id="load" name="load" style="max-width: 30px;" onchange="hideLoadDetails()">
    </div>

    <div id="conditionalField" class="form-group" style="display: none; justify-content: center; flex-direction: row; align-items: flex-start; margin-bottom: 10px;">
      <label for="loadDetails">Load details:</label>
      <textarea id="loadDetails" name="loadDetails" style="max-width: 177px;" rows="5" pattern="[A-Za-z0-9\s]*"></textarea>
    </div>

</div>

  <div class="container d-flex justify-content-center align-items-center" style="margin-top: 20px; max-width: 380px;">
    <div class="d-flex" style="margin-top: 20px; flex-direction: row-reverse;">

        <form id="formMain" method="POST" action="{% url 'Set_parameter' mode=mode %}">
        {% csrf_token %}
            <button id="nextSetParameters" type="submit" class="css-button-sharp--blue" style="margin-left: 30px;" name="SetParameters" value="Show">Next</button>
        </form>

        <button type="submit" onclick="history.back()" class="css-button-sharp--blue" style="margin-right: 30px;">Back</button>
    </div>
  </div>

<script src="{% static 'scripts/set_parameters.js' %}"></script>
{% endblock %}