{% load static %}
{% csrf_token %}
<div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm">
        <div class="computer_text_main" style="margin-top: 10px; margin-bottom: 10px; width: 100%;">
          <h3 class="subtitulo" style="width: auto; padding: 0;">LIMIT SWITCH</h3>
          <div id="divShowParamsLS_2">
              <button id="showParamsLS_2" class="css-button-eye" onclick="showParams_2()">
                  <img src="{% static 'images/eye.svg' %}" alt="Icono">
              </button>
          </div>
          <div id="divHideParamsLS_2" hidden>
              <button id="hideParamsLS_2" class="css-button-eye" onclick="hideParams_2()">
                  <img src="{% static 'images/eye-off.svg' %}" alt="Icono">
              </button>
          </div>
        </div>
  
        <div id="divParamsLS_2" class="computer_text_main flex-column" style="margin-top: 10px; margin-bottom: 10px; width: 210px;" hidden>
          <table style="width: 100%;">
              <tr>
                <th>Config.</th>
                <th>Option</th>
              </tr>
              <tr>
                <td>Op. Voltage :</td>
                <td>{{params_ls_2}}</td>
              </tr>
              <!-- Agrega más filas según sea necesario -->
            </table>
        </div>
      </div>
    </div>
</div> 

<div class="imagen-grande-container">
    <img id="On_ls_2" class="imagen-grande" style="max-height: 400px;" src="{% static 'images/LimitSwichL.png' %}">
    <img id="Off_ls_2" class="imagen-grande" style="max-height: 400px;"  src="{% static 'images/LimitSwichR.png' %}" hidden>
</div>

<div class="computer_text_main" style="padding: 5px; max-width: 540px;">
    <button id="powerOn_ls_2" class="css-button-eye" style="margin-right: 10px; border-radius: 0%; min-width:80px;" onclick="turnOnLs_2()">
        ON
        <img src="{% static 'images/on.svg' %}" alt="Icono">
    </button> 

    <button id="powerOff_ls_2" class="css-button-eye" style="margin-right: 10px; border-radius: 0%; min-width:80px;" onclick="turnOffLs_2()" hidden>
        OFF
        <img src="{% static 'images/off.svg' %}" alt="Icono">
    </button>
</div>

<script>
var divParamsLS_2 = document.getElementById('divParamsLS_2');
var divShowParamsLS_2 = document.getElementById('divShowParamsLS_2');
var divHideParamsLS_2 = document.getElementById('divHideParamsLS_2');

var powerOn_ls_2 = document.getElementById('powerOn_ls_2');
var powerOff_ls_2 = document.getElementById('powerOff_ls_2');

var On_ls_2 = document.getElementById('On_ls_2');
var Off_ls_2 = document.getElementById('Off_ls_2');

function iniciarConexion_2()
{
    socket_2 = new WebSocket("ws://" + window.location.host + "/ws/sh_read_lm_2/");
    socket_2.onmessage = function(event){
    var data = JSON.parse(event.data);

    if (data.state == "open")
    {
        On_ls_2.removeAttribute("hidden");
        Off_ls_2.setAttribute("hidden", "hidden");
    }
    else if (data.state == "close")
    {
        On_ls_2.setAttribute("hidden", "hidden");
        Off_ls_2.removeAttribute("hidden");
    }
    /*
    else if (data.state == "tran")
    {
        On_ls_2.setAttribute("hidden", "hidden");
        Off_ls_2.setAttribute("hidden", "hidden");
    }
    */
    }
}

function detenerConexion_2() {
    socket_2.send(JSON.stringify({
    'message':'stop'
    }))
}

function leerSensor_2() {
    socket_2.send(JSON.stringify({
    'message':'start'
    }))
}

function showParams_2() {
    divParamsLS_2.removeAttribute("hidden");
    divShowParamsLS_2.setAttribute("hidden", "hidden");
    divHideParamsLS_2.removeAttribute("hidden");
}

function hideParams_2() {
    divParamsLS_2.setAttribute("hidden", "hidden");
    divHideParamsLS_2.setAttribute("hidden", "hidden");
    divShowParamsLS_2.removeAttribute("hidden");
}

function turnOnLs_2(){
    
    $.ajax({
            url: '/turnOn_ls_2/',
            success: function (data) {
                
            }
        });
    
        iniciarConexion_2();
        setTimeout(leerSensor_2, 200);
        powerOn_ls_2.setAttribute("hidden", "hidden");
        powerOff_ls_2.removeAttribute("hidden");
    }

function turnOffLs_2(){
    $.ajax({
            url: '/turnOff_ls_2/',
            success: function (data) {
                
            }
        });
        detenerConexion_2();
        powerOn_ls_2.removeAttribute("hidden");
        powerOff_ls_2.setAttribute("hidden", "hidden");
    }

</script>
